<h1>Login Page</h1> 

<FORM name='login' method='POST' action='/api/login'>
    <INPUT type='text' name='luser' size='30'
           placeholder='Enter your username' /><BR /><BR />
    <INPUT type='password' name='lpass' size='30'
           placeholder='Enter your password' /><BR /><BR />
    <INPUT type='submit' class="mybtn" value='Login' />
    </FORM>
  
<h1>This is home page</h1> 
  
<li><a href="/register">Sign up!!</a></li> 
<li><a href="/login">Login</a></li> 
<li><a href="/logout">Logout</a></li> 